[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Ferdium (Linux)
Comment=Ferdium is a free and open source multi message and chat service management
Icon=ferdium
Exec=/usr/local/bin/linux-ferdium
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
StartupNotify=true

